body {
  touch-action: pan-x pan-y;
  overflow: hidden;
  zoom: reset !important; /* Fallback */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

#video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Ensure the video stays behind other content */
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#game-over {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: red;
  display: none;
  /* Initially hidden */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.hidden {
  display: none;
}

#raccoon {
  position: absolute;
  bottom: 0;
  right: -1000px;
  /* Initially position the raccoon outside the screen on the right */
  width: 180px;
  height: auto;
  z-index: 2;
  /* Place the raccoon above the video background */
  animation: moveRaccoon 6s linear infinite;
  /* Animate the raccoon's movement */
  animation-delay: 6s;
  transition: animation-duration 0.5s ease;
}

@keyframes moveRaccoon {
  from {
    right: -100px;
  }

  to {
    right: calc(100% + 100px);
    /* Move the raccoon outside the screen on the left */
  }
}

#play-pause-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

#play-pause-button:hover {
  transform: scale(1.1);
}

#game-container {
  position: relative;
  width: 100vw;
  height: 100%;
}

#character,
#obstacle,
#game-over {
  position: absolute;
  z-index: 2;
  /* Place these elements above the video */
}

#character {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: auto;
  transition: bottom 1.4s ease;
}

#obstacle {
  width: 60px;
  height: auto;
  animation: moveObstacle 10s linear infinite alternate;
}

@keyframes moveObstacle {
  from {
    transform: translateX(1000%);
  }

  to {
    transform: translateX(-4000%);
  }
}

#score-container {
  position: absolute;
  top: 10px;
  left: 10px;
  color: rgb(0, 0, 0);
  font-size: 22px;
  z-index: 3;
  font-family: "Comic Neue", sans-serif;
}

#level-container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  font-family: "Comic Neue", sans-serif;
  text-align: center;
}

#level-text {
  font-size: 22px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

#your-score {
  margin: 5px 0;
}

#high-score {
  margin: 5px 0;
  display: none;
}

#eagle {
  position: absolute;
  top: 200px;
  /* Adjust the starting position */
  right: -1000px;
  /* Initially position the eagle outside the screen on the right */
  width: 140px;
  height: auto;
  z-index: 2;
  /* Place the eagle above the video background */
  animation: moveEagle 7s linear infinite;
  /* Animate the eagle's movement */
  animation-delay: 26s;
}

@keyframes moveEagle1 {
  0% {
    left: -100px;
    top: 20%;
  }
  20% {
    top: 40%;
  }
  40% {
    top: 10%;
  }
  60% {
    top: 70%;
  }
  80% {
    top: 50%;
  }
  100% {
    left: calc(100% + 100px);
    top: 20%;
  }
}

@keyframes moveEagle2 {
  0% {
    left: -100px;
    top: 40%;
  }
  25% {
    top: 20%;
  }
  50% {
    top: 80%;
  }
  75% {
    top: 30%;
  }
  100% {
    left: calc(100% + 100px);
    top: 40%;
  }
}

@keyframes moveEagle3 {
  0% {
    left: -100px;
    top: 30%;
  }
  20% {
    top: 60%;
  }
  40% {
    top: 20%;
  }
  60% {
    top: 70%;
  }
  80% {
    top: 40%;
  }
  100% {
    left: calc(100% + 100px);
    top: 30%;
  }
}

@keyframes moveEagle4 {
  0% {
    left: -100px;
    top: 10%;
  }
  20% {
    top: 50%;
  }
  40% {
    top: 20%;
  }
  60% {
    top: 70%;
  }
  80% {
    top: 30%;
  }
  100% {
    left: calc(100% + 100px);
    top: 10%;
  }
}

@keyframes moveEagle5 {
  0% {
    left: -100px;
    top: 50%;
  }
  20% {
    top: 30%;
  }
  40% {
    top: 60%;
  }
  60% {
    top: 20%;
  }
  80% {
    top: 70%;
  }
  100% {
    left: calc(100% + 100px);
    top: 50%;
  }
}

@keyframes moveEagle6 {
  0% {
    left: -100px;
    top: 20%;
  }
  20% {
    top: 40%;
  }
  40% {
    top: 10%;
  }
  60% {
    top: 60%;
  }
  80% {
    top: 30%;
  }
  100% {
    left: calc(100% + 100px);
    top: 20%;
  }
}

@keyframes moveEagle7 {
  0% {
    left: -100px;
    top: 60%;
  }
  20% {
    top: 10%;
  }
  40% {
    top: 70%;
  }
  60% {
    top: 20%;
  }
  80% {
    top: 50%;
  }
  100% {
    left: calc(100% + 100px);
    top: 60%;
  }
}

@keyframes moveEagle8 {
  0% {
    left: -100px;
    top: 30%;
  }
  20% {
    top: 70%;
  }
  40% {
    top: 20%;
  }
  60% {
    top: 60%;
  }
  80% {
    top: 10%;
  }
  100% {
    left: calc(100% + 100px);
    top: 30%;
  }
}

@keyframes moveEagle9 {
  0% {
    left: -100px;
    top: 70%;
  }
  20% {
    top: 30%;
  }
  40% {
    top: 80%;
  }
  60% {
    top: 40%;
  }
  80% {
    top: 50%;
  }
  100% {
    left: calc(100% + 100px);
    top: 70%;
  }
}

@keyframes moveEagle10 {
  0% {
    left: -100px;
    top: 20%;
  }
  20% {
    top: 60%;
  }
  40% {
    top: 30%;
  }
  60% {
    top: 70%;
  }
  80% {
    top: 20%;
  }
  100% {
    left: calc(100% + 100px);
    top: 20%;
  }
}

@keyframes moveEagle11 {
  0% {
    left: -100px;
    top: 10%;
  }
  20% {
    top: 50%;
  }
  40% {
    top: 20%;
  }
  60% {
    top: 60%;
  }
  80% {
    top: 30%;
  }
  100% {
    left: calc(100% + 100px);
    top: 10%;
  }
}

@keyframes moveEagle12 {
  0% {
    left: -100px;
    top: 40%;
  }
  20% {
    top: 10%;
  }
  40% {
    top: 50%;
  }
  60% {
    top: 20%;
  }
  80% {
    top: 70%;
  }
  100% {
    left: calc(100% + 100px);
    top: 40%;
  }
}

@keyframes moveEagle13 {
  0% {
    left: -100px;
    top: 50%;
  }
  20% {
    top: 30%;
  }
  40% {
    top: 60%;
  }
  60% {
    top: 20%;
  }
  80% {
    top: 70%;
  }
  100% {
    left: calc(100% + 100px);
    top: 50%;
  }
}

@keyframes moveEagle14 {
  0% {
    left: -100px;
    top: 30%;
  }
  20% {
    top: 70%;
  }
  40% {
    top: 20%;
  }
  60% {
    top: 60%;
  }
  80% {
    top: 40%;
  }
  100% {
    left: calc(100% + 100px);
    top: 30%;
  }
}

@keyframes moveEagle15 {
  0% {
    left: -100px;
    top: 10%;
  }
  10% {
    top: 30%;
  }
  20% {
    top: 20%;
  }
  30% {
    top: 50%;
  }
  40% {
    top: 40%;
  }
  50% {
    top: 70%;
  }
  60% {
    top: 60%;
  }
  70% {
    top: 30%;
  }
  80% {
    top: 50%;
  }
  100% {
    left: calc(100% + 100px);
    top: 10%;
  }
}

@keyframes moveEagle16 {
  0% {
    left: -100px;
    top: 70%;
  }
  10% {
    top: 50%;
  }
  20% {
    top: 60%;
  }
  30% {
    top: 30%;
  }
  40% {
    top: 40%;
  }
  50% {
    top: 20%;
  }
  60% {
    top: 50%;
  }
  70% {
    top: 60%;
  }
  80% {
    top: 30%;
  }
  100% {
    left: calc(100% + 100px);
    top: 70%;
  }
}

@keyframes moveEagle17 {
  0% {
    left: -100px;
    top: 20%;
  }
  10% {
    top: 40%;
  }
  20% {
    top: 30%;
  }
  30% {
    top: 50%;
  }
  40% {
    top: 60%;
  }
  50% {
    top: 40%;
  }
  60% {
    top: 70%;
  }
  70% {
    top: 50%;
  }
  80% {
    top: 20%;
  }
  100% {
    left: calc(100% + 100px);
    top: 20%;
  }
}

@keyframes moveEagle18 {
  0% {
    left: -100px;
    top: 50%;
  }
  10% {
    top: 30%;
  }
  20% {
    top: 60%;
  }
  30% {
    top: 40%;
  }
  40% {
    top: 70%;
  }
  50% {
    top: 20%;
  }
  60% {
    top: 50%;
  }
  70% {
    top: 30%;
  }
  80% {
    top: 60%;
  }
  100% {
    left: calc(100% + 100px);
    top: 50%;
  }
}

@keyframes moveEagle19 {
  0% {
    left: -100px;
    top: 30%;
  }
  10% {
    top: 50%;
  }
  20% {
    top: 40%;
  }
  30% {
    top: 20%;
  }
  40% {
    top: 60%;
  }
  50% {
    top: 30%;
  }
  60% {
    top: 70%;
  }
  70% {
    top: 40%;
  }
  80% {
    top: 50%;
  }
  100% {
    left: calc(100% + 100px);
    top: 30%;
  }
}

@keyframes moveEagle20 {
  0% {
    left: -100px;
    top: 60%;
  }
  10% {
    top: 20%;
  }
  20% {
    top: 50%;
  }
  30% {
    top: 30%;
  }
  40% {
    top: 70%;
  }
  50% {
    top: 40%;
  }
  60% {
    top: 20%;
  }
  70% {
    top: 60%;
  }
  80% {
    top: 30%;
  }
  100% {
    left: calc(100% + 100px);
    top: 60%;
  }
}

@keyframes moveEagle21 {
  0% {
    left: -100px;
    top: 20%;
  }
  10% {
    top: 50%;
  }
  20% {
    top: 10%;
  }
  30% {
    top: 60%;
  }
  40% {
    top: 30%;
  }
  50% {
    top: 70%;
  }
  60% {
    top: 40%;
  }
  70% {
    top: 20%;
  }
  80% {
    top: 50%;
  }
  100% {
    left: calc(100% + 100px);
    top: 20%;
  }
}

@keyframes moveEagle22 {
  0% {
    left: -100px;
    top: 70%;
  }
  10% {
    top: 30%;
  }
  20% {
    top: 60%;
  }
  30% {
    top: 40%;
  }
  40% {
    top: 20%;
  }
  50% {
    top: 50%;
  }
  60% {
    top: 70%;
  }
  70% {
    top: 40%;
  }
  80% {
    top: 30%;
  }
  100% {
    left: calc(100% + 100px);
    top: 70%;
  }
}

@keyframes moveEagle23 {
  0% {
    left: -100px;
    top: 30%;
  }
  10% {
    top: 50%;
  }
  20% {
    top: 20%;
  }
  30% {
    top: 60%;
  }
  40% {
    top: 30%;
  }
  50% {
    top: 70%;
  }
  60% {
    top: 40%;
  }
  70% {
    top: 50%;
  }
  80% {
    top: 20%;
  }
  100% {
    left: calc(100% + 100px);
    top: 30%;
  }
}

@keyframes moveEagle24 {
  0% {
    left: -100px;
    top: 50%;
  }
  10% {
    top: 20%;
  }
  20% {
    top: 60%;
  }
  30% {
    top: 30%;
  }
  40% {
    top: 70%;
  }
  50% {
    top: 40%;
  }
  60% {
    top: 20%;
  }
  70% {
    top: 60%;
  }
  80% {
    top: 30%;
  }
  100% {
    left: calc(100% + 100px);
    top: 50%;
  }
}

@keyframes moveEagle25 {
  0% {
    left: -100px;
    top: 40%;
  }
  10% {
    top: 60%;
  }
  20% {
    top: 30%;
  }
  30% {
    top: 70%;
  }
  40% {
    top: 20%;
  }
  50% {
    top: 50%;
  }
  60% {
    top: 60%;
  }
  70% {
    top: 30%;
  }
  80% {
    top: 40%;
  }
  100% {
    left: calc(100% + 100px);
    top: 40%;
  }
}

/* Add more keyframes as needed */

.social-container {
  text-align: center;
  margin-top: 10px;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
}

.social-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.yt-icon {
  width: 72px;
  height: 50px;
  cursor: pointer;
}

.discord-icon {
  width: 68px;
  height: 50px;
  cursor: pointer;
}

@keyframes rainbowWave {
  0% {
    color: black;
  }

  10% {
    color: red;
  }

  20% {
    color: orange;
  }

  30% {
    color: yellow;
  }

  40% {
    color: green;
  }

  50% {
    color: blue;
  }

  60% {
    color: indigo;
  }

  70% {
    color: violet;
  }

  90% {
    color: green;
  }

  80% {
    color: red;
  }

  100% {
    color: black;
  }
}

.rainbow-wave {
  animation: rainbowWave 0.5s steps(7) infinite;
}

#life-container {
  position: absolute;
  top: 74px;
  left: 10px;
  display: flex;
  align-items: center;
  z-index: 3;
  font-family: "Comic Neue", sans-serif;
  font-weight: bold;
}

#life-label {
  font-size: 22px;
  margin-right: 10px;
  color: black;
}

#life-bar-container {
  width: 120px;
  height: 16px;
  background-color: transparent;
  border: 2px solid black;
}

#life-bar {
  width: 100%;
  height: 100%;
  background: #0fb000;
}
